<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot Admin</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/admin">Admin</a>
    </nav>

    <div class="container">
        <ul>
            <li>
                Prova 
                <div>
                    <button>Modifica</button>
                    <button>Cancella</button>
                </div>
            </li>
            <li>
                Prova 
                <div>
                    <button>Modifica</button>
                    <button>Cancella</button>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>